[Unit]
Description=wsl-vpnkit
Documentation=https://github.com/sakai135/wsl-vpnkit
After=network.target

[Service]
Type=notify
# for wsl-vpnkit setup as a distro
ExecStart=/mnt/c/Windows/system32/wsl.exe -d wsl-vpnkit --cd /app wsl-vpnkit
Restart=always
RestartSec=5s
KillMode=mixed

[Install]
WantedBy=multi-user.target
