{
{% if docker_data_root | length > 0 %}
  "data-root": "{{ docker_data_root }}",
{% endif %}
  "default-address-pools": [
    {
      "base": "{{ docker_address_pool_base }}",
      "size": {{ docker_address_pool_size }}
    }
  ],
  "experimental": {{ docker_experimental | bool | lower }},
  "features": {
    "buildkit": {{ docker_buildkit | bool | lower }}
  }
}
