{
{% if docker.data_root | default(none) %}
  "data-root": "{{ docker.data_root }}",
{% endif %}
  "default-address-pools": [
    {
      "base": "{{ docker.network | default('172.10.0.0') }}/16",
      "size": 24
    }
  ],
  "experimental": true,
  "features": {
    "buildkit": true
  }
}
