# ~/.gitconfig
[user]
  email = simon.harvey.86@gmail.com
  name = Simon HARVEY
  user = irish1986

[commit]
  gpgsign = false

[tag]
  gpgSign = false

[pull]
  rebase = true

[credential]
  helper = cache
