# ~/.ssh/config
Host github.com_irish1986
HostName github.com
AddKeysToAgent yes
User git
IdentityFile ~/.ssh/id_ed25519_irish1986
IdentitiesOnly yes

Host github.com_irishlab.io
HostName github.com
AddKeysToAgent yes
User git
IdentityFile ~/.ssh/id_ed25519_irishlab.io
IdentitiesOnly yes

Host github.com_pw44884
HostName github.com
AddKeysToAgent yes
User git
IdentityFile ~/.ssh/id_ed25519_pw44884
IdentitiesOnly yes

Host github.com_desjardins
HostName github.com
AddKeysToAgent yes
User git
IdentityFile ~/.ssh/id_ed25519_desjardins
IdentitiesOnly yes
