[user]
        email = {{ git.email }}
        name = {{ git.name }}
        user = {{ git.user }}
[color]
        ui = auto
[commit]
        gpgsign = False
        verbose = True
[credential]
        helper = cache
[core]
        autocrlf = False
        editor = code --wait
[diff]
        algorithm = histogram
        colorMoved = zebra
[fetch]
        prune = True
        writeCommitGraph = True
[log]
        abbrevCommit = True
[init]
        defaultBranch = main
[pull]
        ff = only
        rebase = True
[push]
        default = simple
        autoSetupRemote = True
[rebase]
        autoStash = True
[rerere]
        autoupdate = True
        enabled = True
[status]
        short = True
